pkgbase = flyctl-bin
	pkgdesc = Command line tools for fly.io services
	pkgver = 0.3.149
	pkgrel = 1
	url = https://fly.io
	arch = x86_64
	license = Apache
	provides = flyctl
	conflicts = flyctl
	source = flyctl-bin-0.3.149.tgz::https://github.com/superfly/flyctl/releases/download/v0.3.149/flyctl_0.3.149_Linux_x86_64.tar.gz
	sha256sums = 9c85f5434f1d7c12f12dc435896a285df7546e1c1b925a814ec74fa4dc1b1c55

pkgname = flyctl-bin
