pkgbase = flyctl-bin
	pkgdesc = Command line tools for fly.io services
	pkgver = 0.3.158
	pkgrel = 1
	url = https://fly.io
	arch = x86_64
	license = Apache
	provides = flyctl
	conflicts = flyctl
	source = flyctl-bin-0.3.158.tgz::https://github.com/superfly/flyctl/releases/download/v0.3.158/flyctl_0.3.158_Linux_x86_64.tar.gz
	sha256sums = 7ee4d6f40e3cd188f243e9d296456911d8dc4fadb3e3e5dd7ff716eeb4e0aa92

pkgname = flyctl-bin
